<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>오픈그래프 예제</title>

<meta property="og:title" content="오픈그래프 예제"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="오픈그래프를 설명하기 위한 예제 사이트입니다."/>
<meta property="og:url" content="https://opengraph-example.herokuapp.com/"/>
<meta property="og:image" content="https://opengraph-example.herokuapp.com/images/image.png"/>
<meta property="og:image:width" content="400"/>
<meta property="og:image:height" content="300"/>


<style>

</style>
</head>

<body>
	 <!-- URL 입력 -->
	<input type="text" id="baseURL" />
	<button type="button" id="sendURL">전송</button>
	
	
	<div id="result_box">

	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
	$("#sendURL").on("click", function() {
		const baseURL = $("#baseURL").val();
		
		$.ajax({
			url: "./getOpenGraph"
			, type: "GET"
			, data: {baseURL : baseURL}
			, success: function(ogVO) {
				var title = $("<h3>title</h3><p>" + ogVO.title + "</p><hr>");
				var type = $("<h3>type</h3><p>" + ogVO.type + "</p><hr>");
				var description = $("<h3>description</h3><p>" + ogVO.description + "</p><hr>");
				var url = $("<h3>url</h3><p>" + ogVO.url + "</p>");
				var image = $("<h3>image</h3><img src='" + ogVO.image + "' />")
				
				$("#result_box").append(title);
				$("#result_box").append(type);
				$("#result_box").append(description);
				$("#result_box").append(url);
				$("#result_box").append(image);
			}, error: function(e) {
				console.log(e);
			}
		});
	});
});
</script>
</body>
</html>